.dnd_module_4dce73e24b427f8d7f0c78dde741648e { padding: 36px 29px 18px; background: #fff; }
.dnd_module_4dce73e24b427f8d7f0c78dde741648e .loginUl li { display: inline-block; font-size: 17px; color: #2a2a2a; line-height: 30px; }
.dnd_module_4dce73e24b427f8d7f0c78dde741648e .loginUl li a { color: #2a2a2a; line-height: 30px; }
.dnd_module_4dce73e24b427f8d7f0c78dde741648e .info li { font-size: 17px; color: #2a2a2a; line-height: 30px; }
/* 카테고리 리스트 */
.dnd_module_6ba27f167d7e70bd7e89b73655af2038 { background:#fff;}
.dnd_module_6ba27f167d7e70bd7e89b73655af2038 .inner { padding:0 0 5px 0; border-bottom: 1px solid #eee;}
.dnd_module_6ba27f167d7e70bd7e89b73655af2038 .category { font-size:14px;  }
.dnd_module_6ba27f167d7e70bd7e89b73655af2038 .category li { position:relative; }
.dnd_module_6ba27f167d7e70bd7e89b73655af2038 .category ul { display:none; }
.dnd_module_6ba27f167d7e70bd7e89b73655af2038 .category li a {color:#333;}
.dnd_module_6ba27f167d7e70bd7e89b73655af2038 .category li a:hover {text-decoration: none; }
.dnd_module_6ba27f167d7e70bd7e89b73655af2038 .category li.selected > ul { display:block; }
.dnd_module_6ba27f167d7e70bd7e89b73655af2038 .category li.noChild > a.view { display:none; }
.dnd_module_6ba27f167d7e70bd7e89b73655af2038 .category li.noChild > a.cate { background-image:none !important; }
.dnd_module_6ba27f167d7e70bd7e89b73655af2038 .category > li.selected .slideSubMenu li { background-color:#ffffff; }
.dnd_module_6ba27f167d7e70bd7e89b73655af2038 .category > li:first-child { border-top:0; }
.dnd_module_6ba27f167d7e70bd7e89b73655af2038 .category > li > a.cate { background:url("https://moma-img.echosting.cafe24.com/img/8/6ba2/bottom.png") no-repeat 94% 50%; background-size:10px; }
.dnd_module_6ba27f167d7e70bd7e89b73655af2038 .category > li.selected > a.cate { background-image:url("https://moma-img.echosting.cafe24.com/img/8/6ba2/TopBottom.png"); }
.dnd_module_6ba27f167d7e70bd7e89b73655af2038 .category > li > ul > li > a.cate { padding-left:44px; background:url("https://moma-img.echosting.cafe24.com/img/8/6ba2/add.png") no-repeat 29px 50%; background-size:10px 10px; }
.dnd_module_6ba27f167d7e70bd7e89b73655af2038 .category > li > ul > li.selected > a.cate {  background-image:url("https://moma-img.echosting.cafe24.com/img/8/6ba2/nochild.png"); background-size:10px; }
.dnd_module_6ba27f167d7e70bd7e89b73655af2038 .category > li > ul > li > ul > li > a.cate { padding-left:59px; background:url("https://moma-img.echosting.cafe24.com/img/8/6ba2/add.png") no-repeat 44px 50%; background-size:10px 10px; }
.dnd_module_6ba27f167d7e70bd7e89b73655af2038 .category > li > ul > li > ul > li.selected > a.cate { background-image:url("https://moma-img.echosting.cafe24.com/img/8/6ba2/nochild.png"); background-size:10px; }
.dnd_module_6ba27f167d7e70bd7e89b73655af2038 .category > li > ul > li > ul > li > ul > li a.cate { padding-left:74px; }
.dnd_module_6ba27f167d7e70bd7e89b73655af2038 .category a.cate { display:block; padding:11px 110px 10px 29px; word-wrap:break-word; }
.dnd_module_6ba27f167d7e70bd7e89b73655af2038 .category a.view {
position:absolute; right:40px; top:10px; padding:0 7px;  border:1px solid #e1e1e1; line-height:20px; color:#494949; font-size:9px; font-weight:normal; background-color:#eeeeee;
-webkit-border-radius:3px;
-moz-border-radius:3px;
-ms-border-radius:3px;
-o-border-radius:3px;
border-radius:3px;
}
.dnd_module_9e9b6fb31f9af0c629b598a9319239e9 .board_info { padding: 5px 0px 0 29px; background:#fff; }
.dnd_module_9e9b6fb31f9af0c629b598a9319239e9 .board_info ul li a { display:block; font-size: 14px; line-height: 40px; text-decoration:none; color:#222; }