@font-face{
    font-family:'Moderat';
    font-style: normal;
    font-weight: 400;
    src: local(※);
    src: url('../font/Moderat-Regular.eot') format('embedded-opentype');
    src: url('../font/Moderat-Regular.woff') format('woff');
    src: url('../font/Moderat-Regular.ttf') format('ttf');
    src: url('../font/Moderat-Regular.woff') format('truetype');
}
body,html{font-family:'Moderat';}
.w_none{display:none;}
.m_none{display:block;}
::placeholder{color: #a8a8a8;font-size:14px;font-family:'Moderat';}
::-webkit-input-placeholder{color: #a8a8a8;font-size:14px;font-family:'Moderat';}
::-moz-placeholder{color: #a8a8a8;font-size:14px;font-family:'Moderat';}
:-moz-placeholder{color: #a8a8a8;font-size:14px;font-family:'Moderat';}
::-ms-input-placeholder{color: #a8a8a8;font-size:14px;font-family:'Moderat';}
:-ms-input-placeholder{color: #a8a8a8;font-size:14px;font-family:'Moderat';}
.ly_prd_inner{padding:0 25%;}
.ly_prd_inner.type2{padding:0 23%;}

/* header */
#header{border:0px !important}
#header:before{border:0px !important;}
#header:after{border:0px !important;}
.header_sec02 {height:71px;}
.logo{background:url(/add/img/logo.svg) center no-repeat;background-size:contain;}
.top_logo{display:inline-block;}
.top_logo a{display:block;width:140px;height:71px;background-position: center 27px;background-size:114px 30px;}
.top_logom {display: none;}
.mobile_head {display: none;}
#mobile_allcate{display: none;}
.menu1 {float:right;}
.menu1 > li{position:relative;float:left;z-index:110;}
.menu1 > li > a{display:block;padding:28px 40px 29px;font-family:'Moderat';font-size:14px;line-height:1;}
.menu1 > li:last-child > a{padding-right:32px;}
.menu1 > li > div{display:none;position:absolute;top:71px;left:28px;width:166px;height: 246px;padding:28px 20px 0px;margin-left:-10px;}
.menu1 > li:hover > div{display:block;animation: fadein 0.3s; -moz-animation: fadein 0.3s; /* Firefox */-webkit-animation: fadein 0.3s; /* Safari and Chrome */-o-animation: fadein 0.3s; /* Opera */}
.menu1 > li ul li{display:block; height:28px; line-height:100%;}
.nav_background{display:none;position:relative;width:100%;height:274px;background:rgba(242,242,248,0.75);z-index:100;margin-top:0;}

/*footer*/
#footer{margin-top:330px !important;font-size:13px;}
#footer:before{display:none;}
.xans-layout-footer .address {color:black !important; font-size:13px;}
.footer_txt{margin:0 72px;}
.footer_txt > li{display:inline-block;box-sizing:border-box;vertical-align:top;}
.footer_txt > li + li{padding-left:21px;}
.footer_txt > li:first-child > p + p{margin-top:16px;}
.footer_txt > li.sns > p + p{margin-top:33px;}
.footer_txt > li:last-child{width:calc(100% - 439px);text-align:right;}
.xans-layout-footer .copyright{position:static !important;line-height:1.2 !important;height:auto !important;}
.footer_logo a{display:block;padding:43px 43px 74px;}
.footer_logo img{width:100%;}

/*main*/
#container #contents{width:auto !important;}
.visual ul:after{content:'';display:block;clear:both;}
.visual ul > li{float:left;}
.visual ul > li:first-child{width:49.6641%;}
.visual ul > li:last-child{width:calc(100% - 49.6641%);}
.visual img{width:100%;}
.visual_box{display:table;width:100%;box-sizing:border-box;margin-top:250px;padding:0 73px;}
.visual_box > li{display:table-cell;width:50%;vertical-align:top;}
.visual_box > li img{width:100%;}

/*sub*/
.ly_inner{padding:254px 0;}
.layout_col2{position:relative;}
.layout_col2 .titleArea{position:absolute;top:0;left:23.5038%;width:160px;margin:0;border:none;}
.layout_col2 .titleArea h2{font-size:14px;font-weight:normal;}
.layout_col2 .cont{max-width:960px;padding:0 160px;margin:0 auto;box-sizing:border-box;}
/*login*/
.ec-base-box.typeThin{border:none !important;}
.xans-member-login .login{padding-top:0;}
.xans-member-login .login fieldset{width:319px !important;}
.xans-member-login .login fieldset .id, .xans-member-login .login fieldset .password{width:319px !important;border-radius:0 !important;}
.xans-member-login .login fieldset ul.login_link{padding:0;font-size:11px;color:#A8A8A8;}
.xans-member-login .login fieldset .id, .xans-member-login .login fieldset .password{border:none;border-bottom:1px solid #707070;font-size:14px;color:#A8A8A8;}
.xans-member-login .login fieldset input[type=text], .xans-member-login .login fieldset input[type=password]{width:100%;padding:2px 0 2px !important;font-size:14px !important;}
.xans-member-login .login fieldset .login_link li{padding:0;}
.xans-member-login .login fieldset .login_link li + li{padding-left:20px;}
.xans-member-login .login fieldset .login_link li a{color:#A8A8A8;line-height:20px;;}
.xans-member-login .login fieldset .login_link li:after{display:none;}
.login .security{position:absolute;top:85px;right:0;margin:0 !important;color:#A8A8A8 !important;font-size:10px;}
.layout_col2 .login .btnLogin{margin-top:25px;position:static;width:100%;height:32px;line-height:32px;background:#fff;border:1px solid #707070;color:#141414;font-size:14px !important;}
/*lookbook*/
.lookbook{padding-bottom:532px;}
.lookbook img{width:100%;}
.lookbook .txt{margin-top:550px;margin-bottom:13px;font-size:0;}
.lookbook .txt > *{display:inline-block;width:50%;font-size:13px;line-height:15px;vertical-align:bottom;}
.lookbook .txt > .date{text-align:right;}
.lookbook > li + li + li{margin-top:267px;}
/*info*/
.info_list{margin-top:253px;display:table;width:100%;font-size:16px;line-height:21px;}
.info_list > li{display:table-cell;}
.info_list > li:first-child{width:42%;}
.info_list > li + li{padding-left:80px;}
.info_list .brand p + p{margin-top:57px;}
.info_list .brand .desc{line-height:18px;}
.info_list .office dd + dt{margin-top:23px;}
/*mypage*/
.ly_box_wrap.mypage{margin:263px auto 0;max-width:960px;width:100%;}
.mypage .titleArea{margin-bottom:35px;border-color:#707070 !important;}
.mypage .titleArea h2{font-weight:normal;color:#141414;}
.mypage .ec-base-box{padding:30px 0;border:1px solid #707070;}
.mypage .ec-base-box{padding:30px 0;border:1px solid #707070;}
.mypage .xans-myshop-asyncbankbook > ul{float:left;width:50%;}
.mypage .xans-myshop-asyncbankbook:after{content:'';display:block;clear:both;}
.mypage .xans-myshop-asyncbankbook ul li{float:none;width:100%;padding:0;padding-left:34px;font-size:14px;line-height:20px;}
.mypage .xans-myshop-asyncbankbook ul li.pl30{padding-left:30px;}
.mypage .ec-base-box.gHalf:before{display:none;}
.mypage .xans-myshop-asyncbankbook .data{padding-right:28px;font-size:14px;font-weight:normal;}
.mypage .xans-myshop-asyncbankbook a.btnNormal{font-family:'Moderat' !important;padding:0 6px;height:24px;line-height:24px;font-size:14px;border-color:#707070;border-radius:0;}
.mypage .titleArea.mb0{margin-bottom:0 !important;}
.mypage .titleArea h2 .desc{font-size:13px;color:#8E8D8D;}
.mypage .titleArea h2 .desc em{font-style: normal;}
.mypage .ec-base-box + .titleArea{margin-top:37px;}
.mypage .xans-myshop-orderstate{margin:0;border-width:0 0 1px;border-color:#707070;}
.mypage .xans-myshop-orderstate .order li{border:none;}
.mypage .xans-myshop-orderstate .order li > span{display:block;font-size:16px;line-height:20px;color:#141414;}
.mypage .xans-myshop-orderstate .order li .count{display:block;margin-top:23px;font-weight:normal;font-size:24px;color:#141414;font-weight:normal;}
.mypage .xans-myshop-orderstate .cs{padding-right:53px;box-sizing:border-box;}
.mypage .xans-myshop-orderstate .cs li{margin:0;text-align:right;}
.mypage .xans-myshop-orderstate .cs span{color:#8E8D8D;font-size:16px;line-height:27px;}
.mypage .xans-myshop-orderstate .cs .count{font-weight:normal;}
.mypage #myshopMain ul{margin:0 -17.5px;}
.mypage #myshopMain .shopMain{width:calc(25% - 35px);height:202px;margin:16px 17.5px;padding:14px;border-color:#707070;}
.mypage #myshopMain .shopMain h3:before{width:98px;height:64px;background-size:53px;background-image:url(/add/img/ico_mypage01.svg);background-position:center;}
.mypage #myshopMain .shopMain.profile h3:before{background-size:30px 53px;background-position:center;background-image:url(/add/img/ico_mypage02.svg);}
.mypage #myshopMain .shopMain.wishlist h3:before{background-size:43px 44px;background-position:center;background-image:url(/add/img/ico_mypage03.svg);}
.mypage #myshopMain .shopMain.mileage h3:before{background-size:56px 44px;background-position:center;background-image:url(/add/img/ico_mypage04.svg);}
.mypage #myshopMain .shopMain.coupon h3:before{background-size:54px 36px;background-position:center;background-image:url(/add/img/ico_mypage05.svg);}
.mypage #myshopMain .shopMain.board h3:before{background-size:53px 53px;background-position:center;background-image:url(/add/img/ico_mypage06.svg);}
.mypage #myshopMain .shopMain.address h3:before{background-size:71px 40px;background-position:center;background-image:url(/add/img/ico_mypage07.svg);}
.mypage #myshopMain .shopMain.regularDelivery h3:before{background-size:58px 45px;background-position:center;background-image:url(/add/img/ico_mypage08.svg);}
.mypage #myshopMain .shopMain h3 a{padding-bottom:13px;font-size:13px;color:#8E8D8D;}
.mypage #myshopMain .shopMain h3 strong{font-size:18px;color:#000;font-weight:normal;}
#myshopMain .shopMain h3 span{padding-top:1px;}
/*list*/
.ec-base-product{margin:0 13px !important;}
.ec-base-product .prdList{margin:320px 0 0;}
.ec-base-product .prdList > li{margin:0 12px;}
.ec-base-product ul.grid4.prdList > li{width:calc(25% - 24px);}
.ec-base-product ul.grid4.prdList > li:nth-child(n+5){margin-top:193px;}
.ec-base-product .prdList .thumbnail{margin:0;}
.ec-base-product .prdList .thumbnail .prdImg{max-height:525px;}
.ec-base-product .prdList .thumbnail a img{width:100%;}
.ec-base-product .prdList .description{margin-top:25px;font-size:13px;color:#2E2E2E;}
.ec-base-product .spec li span{font-size:13px !important;color:#2E2E2E !important;font-weight:normal !important;}
.ec-base-paginate{margin-top:60px;}
/*detail*/
.ly_prd_detail{padding:221px 159px 0;}
#zoomMouseGiude,#prdInfo,
.xans-product-detail .infoArea th,
.xans-product-detail .infoArea tr:nth-child(3) td,
.xans-product-detail .infoArea tr:nth-child(4) td,
.xans-product-detail .infoArea tr:nth-child(5) td,
.xans-product-detail .infoArea .xans-product-option .value,
span.ec-base-help, p.ec-base-help, ul.ec-base-help li{display:none !important;}
.ly_prd_detail .xans-product-detail .infoArea tr:nth-child(1) td span{font-size:18px !important;line-height:22px !important;color:#2E2E2E;}
.ly_prd_detail .xans-product-detail .infoArea tr:nth-child(2) td span{margin-top:1px;font-size:18px !important;line-height:22px !important;color:#2E2E2E !important;}
.ly_prd_detail .xans-product-detail .infoArea .xans-product-option tr:first-child td,
.ly_prd_detail .xans-product-detail .infoArea .xans-product-option .xans-product-fileoption td{border:none !important;}
.ly_prd_detail .xans-product-detail .infoArea td{padding:0;}
.ly_prd_detail .xans-product-detail .infoArea .xans-product-option .ec-product-button li{margin:0;border-color:#2B2B2B;}
.ly_prd_detail .xans-product-detail .infoArea .xans-product-option .ec-product-button li + li{border-left:0;}
.ly_prd_detail .xans-product-detail .infoArea .xans-product-option .ec-product-button li + li.ec-product-selected{position:relative;border-left:2px;}
.ly_prd_detail .xans-product-detail .infoArea .xans-product-option .ec-product-button li + li.ec-product-selected:before{position:absolute;top:0;bottom:0;left:0;content:'';display:block;width:1px;height:100%;background: #2b2b2b;;}
.ly_prd_detail .xans-product-detail .infoArea .xans-product-option .ec-product-button li a{min-width:55px;transition:none;-webkit-transition:none;}
.ly_prd_detail .xans-product-detail .infoArea .xans-product-option .ec-product-button li a span{line-height:40px !important;height:40px;padding:0;}
.ly_prd_detail .xans-product-detail .infoArea .xans-product-option .ec-product-button.ec-product-preview li{padding:0;}
.ly_prd_detail .xans-product-detail .infoArea .xans-product-option .ec-product-button.ec-product-preview li a{width:auto;height:38px;}
.ly_prd_detail .xans-product-detail .infoArea .xans-product-option .ec-product-button .ec-product-disabled a span{background:none;}
/* .ly_prd_detail .xans-product-detail .infoArea .xans-product-option tr td{padding:0;} */
.ly_prd_detail #totalProducts > table > tbody > tr:first-child > td,
.ly_prd_detail .xans-product-detail .infoArea .xans-product-action{border:none;}
#totalProducts tbody td p > span{font-size:12px !important;line-height:21px !important;}
.ly_prd_detail .ec-base-button{padding:0;}
.ly_prd_detail .xans-product-detail .infoArea .xans-product-action{padding-top:11px;}
.ly_prd_detail .ec-base-button[class*="gColumn"] > a:hover,
.ly_prd_detail .ec-base-button[class*="gColumn"] > a:focus{background:#F6F6F6;}
.ly_prd_detail .ec-base-button[class*="gColumn"] > a + a{border-left:0;}
.ly_prd_detail .ec-base-button[class*="gColumn"] [class^='btn']{margin:0;width:160px;height:38px;line-height:38px;padding:0;font-size:18px;color:#2E2E2E;border-color:#2B2B2B;font-family:'Moderat';font-weight:normal;border-radius:0;}
.ly_prd_detail [class^='btnSubmit'],
.ly_prd_detail  a[class^='btnSubmit']{background:none;color:#2E2E2E;}
.ly_prd_detail .ec-base-button[class*="gColumn"]{width:320px;margin:0;}
.ly_prd_detail .totalPrice{display:none;}
.ly_prd_detail .xans-product-detail{padding:0;}
.ly_prd_detail .xans-product-detail .detailArea{padding:0;}
.ly_prd_detail .xans-product-detail .imgArea{width:59.8%;margin:0;}
.ly_prd_detail .xans-product-detail .detailArea{padding:0;}
.ly_prd_detail .xans-product-detail .imgArea .keyImg{width:auto;}
.ly_prd_detail .xans-product-detail .imgArea .keyImg .thumbnail{display:block;}
.ly_prd_detail .xans-product-detail .imgArea .keyImg img{width:100%;max-width:none;}
.ly_prd_detail .detailArea .infoArea{float:right;width:calc(100% - 59.8%);padding:24px 0 0 9.925%;box-sizing:border-box;}
.ly_prd_detail #totalProducts table tr.option_product > td{padding-bottom:10px;}
.ly_prd_detail .prd_detail{margin-top:90px;font-size:15px;line-height:24px;}
.ly_prd_detail .prd_detail .desc_info{margin-bottom:65px;}
.ly_prd_detail .prd_detail .desc_fabric{margin-bottom:11px;}
.ly_prd_detail .prd_detail .desc_size{margin-bottom:18px;}
.ly_prd_detail .prd_detail .desc_size dl:after{content:'';display:block;clear:both;}
.ly_prd_detail .prd_detail .desc_size dl > *{float:left;}
.ly_prd_detail .prd_detail .desc_size dl dt{width:94px;}
.ly_prd_detail .prd_detail .desc_size dl dd{width:66px;}
.ly_prd_detail .prd_detail .desc_short{font-size:13px;}

@media all and (max-width: 1100px) {
    .menu1 > li > a{padding:28px 25px 24px;}
    .footer_txt{margin:0 15px;}
    .footer_logo a{padding:43px 15px 74px;}
}

@media all and (max-width:900px){
    .ec-base-product{margin:0 9px !important;}
    .ec-base-product .prdList{min-width:auto;margin-top:98px;}
    .ec-base-product ul.grid4.prdList > li{width:calc(50% - 8px);margin:0 4px;}
    .ec-base-product ul.grid4.prdList > li:nth-child(n+5){margin-top:0;}
    .ec-base-product ul.grid4.prdList > li:nth-child(n+3){margin-top:50px;}
}

@media all and (max-width: 760px) {
    .w_none{display:block;}
    .m_none{display:none;}
    .ly_prd_inner{padding:0;}
    .ly_prd_inner.type2{padding:0 25px;}

    /* header */
    .header_coor{position:relative;height:61px;}
    .header_sec02 {height:61px;}
	.mobile_head{display:block;height:61px;font-size:0;transition:0.4s ease;-webkit-transition:0.4s ease;}
    .mobile_head.on{background:#e4e4e4;}
    .mobile_head:after{content:'';display:block;clear:both;}
    .mobile_head > *{display:inline-block;width:50%;}
    .mobile_head > .right{text-align:right;}
    .mobile_head > .right > a{display:inline-block;}
    .mobile_head .btn_ham{display:block;width:53px;height:61px;background:url(/add/img/gnb_btn_m.svg) center no-repeat;background-size:25px 14px;transition:initial;}
    .mobile_head .btn_close{display:none;margin-top:8px;width:45px;height:45px;background:url(/add/img/gnb_btn_close_m.svg) center no-repeat;background-size:19px;}
    .mobile_head .btn_search{width:36px;height:61px;background:url(/add/img/btn_sch.svg) 4px 14px no-repeat;background-size:26px;}
    .mobile_head .btn_basket{width:53px;height:61px;background:url(/add/img/btn_basket.svg) 9px 11px no-repeat;background-size:29px;}
    .top_logo{position:absolute;top:0;left:50%;margin-left:-70px;vertical-align:middle;z-index:50;}
    .top_logo a{height:61px;background-size:89px 23px;background-position:center;}
    .menu1{display:none;}

    /* foonter */
    #footer{margin-top:296px !important;}
    .footer_logo a{padding:21px 17px 28px;}
    .footer_txt{position:relative;padding-top:62px;}
    .footer_txt > li{display:block;font-size:10px;}
    .footer_txt > li + li{margin-top:12px;padding-left:0;}
    .footer_txt > li.sns{position:absolute;top:0;left:0;}
    .footer_txt > li.sns .instagram{text-decoration:underline;}
    .footer_txt > li.sns > p + p{margin-top:12px;}
    .footer_txt > li:last-child{width:100%;text-align:left;}
    .xans-layout-footer .copyright{font-size:10px !important;}

    /* sidebar */
    #mobile_allcate{display:none;position:absolute;top:61px;left:0;z-index:50;width:100%;height:100%;background:#e4e4e4;text-align:center;}
    #mobile_allcate > div{font-size:14px;}
    #mobile_allcate > div ul.first > li:first-child{margin-top:75px;}
    #mobile_allcate > div ul > li{margin-top:46px;}
    #mobile_allcate > div.menu ul {display: inline-block;width:100%;vertical-align: top;}
    #mobile_allcate > div.menu .gnb-child{display:none;}
    #mobile_allcate > div.menu .gnb-child > li:first-child{margin-top:75px;}
    #mobile_allcate > div.menu .gnb-child.on{display:block;}
    .btn_back{display:none;position:absolute;top:71px;left:76px;width:23px;height:23px;background:url(../add/img/btn_back_m.svg) center no-repeat;background-size:contain;}

    /*main*/
    .visual ul > li:first-child,
    .visual ul > li:last-child{float:none;width:100%;}
    .visual_box{display:block;margin-top:41px;padding:0;}
    .visual_box > li{display:block;width:100%;text-align:center;font-size:12px;}
    .visual_box > li:first-child{padding-bottom:34px;}
    .btn_Wrap{text-align:center;}
    .btn_Wrap > a{display:inline-block;padding:12px;}

    /*lookbook*/
    .lookbook{padding-bottom:0;}
    .lookbook .txt{margin-top:87px;margin-bottom:30px;}
    .lookbook .txt > *{display:block;width:100%;text-align:center;}
    .lookbook .txt > .date{margin-top:137px;text-align:center;}
    .lookbook > li + li + li{margin-top:55px;}

    /*info*/
    .info_list{margin-top:76px;}
    .info_list > li{display:block;text-align:center;}
    .info_list > li:first-child{width:100%;}
    .info_list > li + li{padding-left:0;}
    .info_list .brand p{font-size:14px;line-height:21px;}
    .info_list .brand .desc{font-size:15px;line-height:16px;}
    .info_list .office{margin-top:104px;text-align:left;}
    .info_list .office dt{text-decoration:underline;}
        
}